{{!< default}}

<main class="two-columns">
  <div class="author-list">
    {{#get 'users' limit='all'}}
      {{#foreach users}}
        <section class="author">
          <h1 class="name">{{name}}</h1>
          <div class="social-links">
            <a class="social-link social-link-twitter" href="{{twitter_url twitter}}" rel="noopener" target="_blank">{{twitter}}</a>
          </div>
          <p class="bio">{{bio}}</p>
          <figure>
            <img src="{{profile_image}}" alt="{{name}}">
          </figure>
        </section>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="post-feed">
    {{#foreach posts}}
      {{> post-card}}
    {{/foreach}}
  </div>
</main>
