{{!< default}}

<main class="two-columns">
  <div class="author-list">
    {{#get 'users' limit='all'}}
      {{#foreach users}}
        <section class="author">
          <figure>
            <a href="{{url}}" title="{{name}}">
              <img src="{{profile_image}}" alt="{{name}}">
            </a>
          </figure>
          <a href="{{url}}" title="{{name}}" class="name"><h1>{{name}}</h1></a>
          <div class="social-links">
            <a class="social-link social-link-twitter" href="{{twitter_url twitter}}" rel="noopener" target="_blank">{{twitter}}</a>
          </div>
          <p class="bio">{{bio}}</p>
        </section>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="post-feed">
    {{#foreach posts}}
      {{> post-card words=60}}
    {{/foreach}}

    {{pagination}}
  </div>
</main>
