{{!< default}}

{{#post}}

  <main class="post-full {{post_class}}">
    <article>
      <header>
        <h1>{{title}}</h1>
        <h2 class="post-full-meta">
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D. MMMM YYYY"}}</time>
          {{#primary_tag}}/ <a class="tag" href="{{url}}">{{name}}</a>{{/primary_tag}}
        </h2>
      </header>
      <section>
        {{content}}
      </section>
    </article>
  </main>

  <div class="post-full">
    <div class="author-list">
      {{#foreach authors}}
        {{> author-card}}
      {{/foreach}}
    </div>
  </div>

  <aside class="read-next">
    {{#if primary_tag}}
      {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit=3 as |related_posts|}}
        {{#if related_posts}}
          <article class="post-card related-content">
            <header class="related-content-header">
              {{# ../primary_tag}}
                <h1>{{name}}</h1>
                <h2 class="post-card-tags">Related content</h2>
              {{/../primary_tag}}
            </header>
            <div class="related-content-content">
              <ul>
                {{#foreach related_posts}}
                  <li><div class="read-more"><a href="{{url}}">{{title}}</a></div></li>
                {{/foreach}}
              </ul>
            </div>
            <footer class="related-content-footer">
                <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}</a>
            </footer>
          </article>
        {{/if}}
      {{/get}}
    {{/if}}
    {{#next_post}}
      {{> post-card words=30}}
    {{/next_post}}

    {{#prev_post}}
      {{> post-card words=30}}
    {{/prev_post}}
  </aside>

{{/post}}
