{{!< default}}

{{#post}}

  <main class="post-full {{post_class}}">
    <article>
      <header>
        <h1>{{title}}</h1>
        <h2 class="post-full-meta">
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D. MMMM YYYY"}}</time> /
          <span class="tag">{{#primary_tag}}{{name}}{{/primary_tag}}</span>
        </h2>
      </header>
      <section>
        {{content}}
      </section>
    </article>
  </main>

  <div class="post-full">
    <div class="author-list">
      {{#foreach authors}}
        <section class="author">
          <figure>
            <img src="{{profile_image}}" alt="{{name}}">
          </figure>
          <div class="author-info">
            <h2>{{name}}</h2>
            <div class="social-links">
              {{#if location}}
                <span class="social-link social-link-location">{{> icons/location}} {{location}}</span>
              {{/if}}
              {{#if website}}
                <a href="{{website}}" class="social-link social-link-website" rel="noopener" target="_blank">{{> icons/website}} Web</a>
              {{/if}}
              {{#if twitter}}
                <a href="{{twitter_url twitter}}" class="social-link social-link-twitter" rel="noopener" target="_blank">{{> icons/twitter}} Twitter</a>
              {{/if}}
              {{#if facebook}}
                <a href="{{facebook_url facebook}}" class="social-link social-link-facebook" rel="noopener" target="_blank">{{> icons/facebook}} Facebook</a>
              {{/if}}
            </div>
            <p class="bio">{{bio}}</p>
            <div class="read-more">
              <a href="{{url}}">read more by {{name}}</a>
            </div>
          </div>
        </section>
      {{/foreach}}
    </div>
  </div>

  <aside class="read-next">
    {{#if primary_tag}}
      {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit=3 as |related_posts|}}
        {{#if related_posts}}
          <article class="post-card related-content">
            <header class="related-content-header">
              {{# ../primary_tag}}
                <h1>{{name}}</h1>
                <h2 class="post-card-tags">Related content</h2>
              {{/../primary_tag}}
            </header>
            <div class="related-content-content">
              <ul>
                {{#foreach related_posts}}
                  <li><div class="read-more"><a href="{{url}}">{{title}}</a></div></li>
                {{/foreach}}
              </ul>
            </div>
            <footer class="related-content-footer">
              <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a>
            </footer>
          </article>
        {{/if}}
      {{/get}}
    {{/if}}
    {{#next_post}}
      {{> post-card words=30}}
    {{/next_post}}

    {{#prev_post}}
      {{> post-card words=30}}
    {{/prev_post}}
  </aside>

{{/post}}
